MIDTRANS_IS_PRODUCTION=true
MIDTRANS_SERVER_KEY=Mid-server-xxxxxxxxxxxxxxxxxxxx
MIDTRANS_CLIENT_KEY=Mid-client-xxxxxxxxxxxxxxxxxxxx
MIDTRANS_QRIS_ACQUIRER=gopay
MIDTRANS_FINISH_PATH=/
PORT=5050
PRINTER_NAME=Brother_T720DW
